#queue_list {
    max-width: 900px;
}

#buildgroups_list {
    max-width: 900px;
}

.status-committed {
}

.status-building {
}

.status-warning {
    background: yellow;
}

.status-error {
    background: red;
}

.status-ok {
    background: green;
}

/* Buildstatus */
.status-fail {
    background: red;
}

.status-success {
    background: #E8FFE8;
}

.status-leftovers {
    background: #FFFFD8;
}

/* Buildgroups */
#buildgroups_list th {
    height: 2.5em;
    vertical-align: middle;
}

#buildgroups_list td {
    height: 2.8em;
    vertical-align: middle;
}

#tabcontent {
    margin-left: 0;
}
