#!/bin/sh

# redports dispatcher hook script

# Environment variables:
#   RPACTION
#   RPOWNER
#   RPSTATUS
#   RPBUILDID
#   RPBUILDQUEUEID
#   RPBUILDGROUP
#   RPPORTNAME
#   RPPKGVERSION
#   RPBUILDSTATUS
#   RPBUILDREASON
#   RPBUILDLOG
#   RPBACKENDHOST

MSG=""

case "${RPACTION}" in
    "BUILD_STARTED")
	MSG="[%02${RPBUILDGROUP}%0f] (${RPOWNER}) - ${RPPORTNAME} - start"
	;;

    "BUILD_FINISHED")
	MSG="[%02${RPBUILDGROUP}%0f] (${RPOWNER}) - ${RPPORTNAME} ${RPPKGVERSION}"
	case ${RPBUILDSTATUS} in
	    SUCCESS)
		MSG="${MSG} - %0303${RPBUILDSTATUS}%0f ${RPBUILDREASON}"
		;;
	    LEFTOVERS)
		MSG="${MSG} - %0306${RPBUILDSTATUS}%0f ${RPBUILDREASON}"
		;;
	    *)
		MSG="${MSG} - %0304${RPBUILDSTATUS}%0f ${RPBUILDREASON}"
		;;
	esac
	if [ ! -z "${RPBUILDLOG}" -a ! -z "${BUILDREASON}" ] ; then
	    MSG="${MSG} - ${RPWWWURL}/~${RPOWNER}/${RPBUILDQUEUEID}-${RPBUILDID}/${RPBUILDLOG}"
	fi
	;;

    "BACKENDBUILD_FAILED")
	MSG="[%02%0304ERROR%0f] Buildgroup %0304${RPBUILDGROUP}%0f on %0304${RPBACKENDHOST}%0f marked as failed! (call: decke mat_)"
	;;

    "BACKEND_FAILED")
	MSG="[%02%0304ERROR%0f] Backend %0304${RPBACKENDHOST}%0f marked as failed! (call: decke mat_)"
	;;
esac

if [ ! -z "${MSG}" ]; then
    echo ${MSG} >> /var/log/rpdd-hook.log
    echo "#redports-buildlog ${MSG}" | nc localhost 9999
fi

exit 0

